@import "variables";

* {
    margin: 0;
    padding:0;
}


body {
    font-family: Copperplate, Papyrus, fantasy;
    padding: 0px;
    margin: 0xp;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    padding: 0;
    box-sizing: border-box;
}

.navbar ul {
    list-style: none;
    background: $color-navbar;
    text-align: center;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    width: 100px;
    display: block;
    padding: 25px 20px;
    font-size: 15px;
    font-weight: bold;
}

.navbar a:hover {
    background: rgba(15, 11, 11, 0.37);;
}

section{
    height: 100%;
}

.logo {
    float: left;
    padding: 18px 80px;
    font-family: $font-logo;
    font-size: xx-large;
    font-weight: bolder;
    color: $color-logo;
}

.background-image {
    background-image: url(https://wallpaperboat.com/wp-content/uploads/2020/10/23/57974/real-estate-04.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

footer {
    background-color: $color-fooder;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin-top: auto;
}

.div1 {
    height: 50vh;
}

.div2 {
    width: 400px;
    height: 100px;
}

h2{
    font-size: medium;
}

/* CONTACTANOS SECTION */

.background-image-contactanos{
background-image: url(background-contactanos.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}

.div-contactanos{
    width: 600px;
    text-align: center;
    height: 150vh;
    margin-left: 300px;
    margin-top: 150px;
}

.container {
    border-radius: 5px;
    padding: 20px;
}

input[type=number]{
    width: 20%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}
input[type=text]
select,
textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #45a049;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #d6a214;
}

/* TU INMUEBLE SECTION */

.background-image-inmuebles{
background-image: url(background-inmuebles.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}

/* NOSOTROS SECTION */

.background-image-nosotros{
    background-image: url(background-nosotros.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    }

.div-nosotros{
    height: 240vh;
}

/* PROPIEDADES SECTION */

.background-image-propiedades{
    background-image: url(background-propiedades.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    height: 150vh;
    }

.ul-nosotros{
    text-align: center;
    font-family: $font-propiedades-ul;
    font-size: larger;
}

/* GRID - INDEX */ 

.grid-container-index {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80px 80px 130px 80px 80px;
    gap: 10px;
    background-color: $color-grid-container-index;
    padding: 10px;
    grid-template-areas:
    'contenido1 contenido1 contenido1'
    'contenido2 contenido2 contenido2'
    'contenido3 contenido3 contenido3'
    'none none none'
    'none none none'
    'foto_rebenque contenido4 contenido4'
    'foto_rebenque contenido4 contenido4'
}

.grid-container-index > div {
    color: rgb(212, 212, 212) ;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    font-weight: 900;
}

.contenido1 {
    grid-area: contenido1;
}

.contenido2 {
    grid-area: contenido2;
    height: 50%;
}

.contenido3 {
    grid-area: contenido3;
    height: 100%;
}

.contenido4 {
    grid-area: contenido4;
    height: 60%;
}

.foto_rebenque{
    grid-area: foto_rebenque;
    height: 450px;
    width: 700px;
}

/* GRID - NOSOTROS */ 

.grid-container-nosotros{
    display: grid;
    grid-template-columns: 390px 390px 390px;
    grid-template-rows: 340px 340px 340px;
    gap: 30px;
    left: 25px;
    padding: 10px;
    grid-template-areas:
    'lorem1 lorem2 lorem3'
    'lorem4 lorem5 lorem6'
    'lorem7 lorem8 lorem9'
}

@for $i from 1 through 9 {
	.lorem#{$i}{
	grid-area: lorem#{$i};
	}
}

.grid-container-nosotros > div {
    text-align: center;
    height: 100%;
    font-size: 30px;
    border: 4px solid #473d43;
}

@media only screen and (max-width: 1250px) {
    .grid-container-nosotros {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas:
        'lorem1 lorem2'
        'lorem3 lorem4'
        'lorem5 lorem6'
        'lorem7 lorem8'
        'lorem9 lorem9';
        padding: 10px;
    }
    .div-nosotros{
        height: 150vh;
    }
}

@media only screen and (max-width: 600px) {
    .grid-container-nosotros {
        display: grid;
        grid-template-columns: auto;
        grid-template-areas:
        'lorem1'
        'lorem2'
        'lorem3'
        'lorem4'
        'lorem5'
        'lorem6'
        'lorem7'
        'lorem8'
        'lorem9';
        padding: 10px;
    }
    .div-nosotros{
        height: 270vh;
    }
}

/* GRID - PROPIEDADES */

.grid-container-propiedades{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
        'foto1'
        'foto2'
        'foto3'
        'foto4'
        'foto5'
        'foto6';
        gap: 15px;
        align-content: stretch;
}

.grid-container-propiedades > div{
    align-items: center;
    padding: 20px;
    height: 100%;
    width: 100%;
}

.grid-container-propiedades > div > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.foto1 {
    grid-area: foto1;
}

.foto2 {
    grid-area: foto2;
}

.foto3 {
    grid-area: foto3;
}

.foto4 {
    grid-area: foto4;
}

.foto5 {
    grid-area: foto5;
}

.foto6 {
    grid-area: foto6;
}

@media only screen and (min-width: 800px) {
    .grid-container-propiedades{
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 
            'foto1 foto1 foto4 foto4'
            'foto2 foto6 foto6 foto6'
            'foto5 foto5 foto3 foto3'
            'foto5 foto5 foto3 foto3';
            gap: 15px;
            align-content: stretch;
    }
    .background-image-propiedades{
        height: 310vh;
    }
}

/* ANIMACION EN TUINMUEBLE */


@media only screen and (max-width: 900px) {
    .div-contactanos{
        width: 200px;
        text-align: center;
        height: 100vh;
        margin-left: 180px;
        margin-top: 75px;
    }

    .h3{
        width: 200px;
        height: 70px;
        background-color: red;
    }
    }

    @media only screen and (min-width: 901px) {

        .h3{
            width: 500px;
            height: 200px;
            background-color: red;
            position: relative;
            animation-name: example;
            animation-duration: 4s;
            animation-iteration-count: infinite;
        }
        
        @keyframes example {
            0%   {background-color:red; left:0px; top:0px;}
            25%  {background-color:yellow; left:200px; top:0px;}
            50%  {background-color:blue; left:200px; top:200px;}
            75%  {background-color:green; left:0px; top:200px;}
            100% {background-color:red; left:0px; top:0px;}
        }
}

@media only screen and (max-width: 900px){
    .div-contactanos{
        width: 400px;
        text-align: center;
        height: 100vh;
        margin-left: 100px;
        margin-top: 250px;
    }
}
