$color-navbar: rgba(15, 11, 11, 0.37);
$color-fooder: rgba(15, 11, 11, 0.37);
$color-logo: rgba(15, 11, 11, 0.37);
$font-logo:'Times New Roman', Times, serif;
$font-propiedades-ul: 'Roboto', sans-serif;
$color-grid-container-index:#2195f300;